# Byte-compiled files
__pycache__/
*.py[cod]

# Virtual environment
venv/
ENV/
env/
.venv/
.env/
antenv/

# IDE/editor settings
.vscode/
.idea/

# Logs
*.log

# Python egg and distribution files
*.egg
*.egg-info/
dist/
build/
*.egg-info/

# Secrets
*.env

# Miscellaneous
.DS_Store
*.swp
*.swo

# Assets folder
assets/
.vs/