:root {
    --brand-primary: #d43d2b;
    --brand-secondary: #C92C30;
    --logo-width: 300px;
}

.bg-primary { 
    background: var(--brand-primary)!important;
}

//LOGOS 

.logo-width { 
    max-width: var(--logo-width);
}

//GRADIENTS
.mv-gradient {
    background: var(--brand-primary);
    background: linear-gradient(215deg, var(--brand-primary) 0%, var(--brand-secondary) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;  
} 

//BACKGROUND 

.mv-background { 
    background: url('/images/bg.jpg');
}

//BUTTONS 

.btn-primary { 
    background: var(--brand-primary)!important;
}

.btn-default { 
    color:var(--brand-primary);
    &:hover { 
        color:var(--brand-primary);
    }
}

.btn-outline-default { 
    &:hover { 
        color:white;
        background:var(--brand-primary);
    }
}

.top-up-mobile { 
    background: var(--brand-primary);
}

.btn-cta {
	background: linear-gradient(90deg, var(--brand-primary) 0%, var(--brand-secondary) 100%) !important;
	
    &:hover,
    &:active,
    &:focus {
	    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px var(--brand-primary);
    }
}

//SIDEBAR
.sidebar { 
    background: linear-gradient(224.73deg, var(--brand-primary) 0%, var(--brand-secondary) 100%);
}
.nav {
    li {
        &.active {
            a {
                background: var(--brand-primary)!important;
            }
        } 
    }
}

a.disabled {
    color: rgba(255, 255, 255, 0.40);
    pointer-events: none;
}