/* You can add global styles to this file, and also import other style files */

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$VelvetElves-primary: mat-palette($mat-indigo);
$VelvetElves-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$VelvetElves-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
// $VelvetElves-theme: mat-light-theme((
//   color: (
//     primary: $VelvetElves-primary,
//     accent: $VelvetElves-accent,
//     warn: $VelvetElves-warn,
//   )
// ));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
// @include angular-material-theme($VelvetElves-theme);

/* You can add global styles to this file, and also import other style files */
// @import "~bootstrap/dist/css/bootstrap.css";

// Custom Theming for Ng Select
@import "~@ng-select/ng-select/themes/ant.design.theme.css";

html{
  height: inherit;
}
body{
  height: inherit;
}

body{
  font-family: "Roboto", sans-serif !important;
  background: #e9ecee;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.cursors{
  cursor: pointer;
}
.customcheckbox label{ 
  margin-left: 23px !important;
  width: 100% !important;

}
.group > input[type='checkbox'] {
  display: inline-block !important;
  float: left !important;
  width: 20px !important;
  padding: 0px !important;
  border: none !important;
  position: absolute;
  left: 2px;
  top: 3px;
  opacity: 1 !important;
}
.login_container {
    min-height: 100%;
    display: flex;
    align-items: center;
}
.orangebtn{
  border: 1px solid #ff9800;
  color: #fff !important;
  text-transform: uppercase;
  line-height: 17px;
  background: #ff9800;
  font-weight: 600;
  padding: 8px 16px;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  border-radius: 3px !important;
  -moz-border-radius: 3px !important;
  -webkit-border-radius: 3px !important;
  height: 35px;
  box-shadow: none !important;
  width: 100%;
  cursor: pointer;
  outline: none !important;
}
.orangebtn:hover {
  background:rgb(255 152 0 / 70%);
  text-decoration: none;
  color: #fff !important;
  border: 1px solid #fbaf3f;
}
.btn{
  box-shadow: none !important;
  outline: none !important;
}
.greenbtn {
  border: 1px solid #ff9800;
  color: #fff !important;
  text-transform: uppercase;
  line-height: 16px;
  background: #ff9800;
  font-weight: 600;
  padding: 9px 16px;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  border-radius: 3px !important;
  -moz-border-radius: 3px !important;
  -webkit-border-radius: 3px !important;
  height: 34px;
  box-shadow: none !important;
  cursor: pointer;
  outline: none !important;
}
.greenbtn:hover {
  background:rgb(255 152 0 / 70%);
  text-decoration: none;
  color: #fff !important;
  border: 1px solid #fbaf3f;
}
.greenbtn:focus {
  background: #ff9800;
  border: 1px solid #ff9800;
}

.graybtn{
    border: 1px solid #7b7e81;
    color: #fff;
    text-transform: uppercase;
    line-height: 16px;
    background: #7b7e81;
    font-weight: 600;
    padding: 9px 15px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    border-radius: 3px !important;
    -moz-border-radius: 3px !important;
    -webkit-border-radius: 3px !important;
    height: 34px;
    box-shadow: none !important;
    cursor: pointer;
    outline: none !important;
}
.graybtn:hover {
    background-image: linear-gradient(to bottom, #8b8d90, #8b8d90);
    background-repeat: repeat-x;
    border: 1px solid #64676b !important;
    color: #ffffff;
}
.graybtn:focus {
  background: #7b7e81;
  border: 1px solid #7b7e81;
}
.graybtn i, .greenbtn i {
  margin: 0 3px;
}
.loginbg {
  background-attachment: fixed;
  background-clip: border-box;
  background-color: rgba(0, 0, 0, 0);
  background-image: url('assets/images/Blurred-Background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  overflow-y: auto;
  padding: 10px;
  margin-bottom: -50px;
}
.circle:hover {
  background: #fff none repeat scroll 0 0;
  border-color: #ffbe5c;
}
.logo > img {
  width: 100%;
}
.logo {
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 72%;
}
.circle {
  border: 5px solid #ffffff;
  border-radius: 50%;
  box-shadow: 2px 2px 4px #999999;
  box-sizing: border-box;
  cursor: pointer;
  height: 130px;
  margin: 20px auto;
  overflow: hidden;
  padding-top: 31px;
  text-align: center;
  transition: all 0.2s ease 0s;
  width: 130px;
}
.circle img {
  transition: all 0.5s ease 0s;
  width: 77%;
}
.circle:hover img{
  transform: scale(1.1);
}
#getpas{
	cursor:pointer;
}
.crossbtn{
	cursor:pointer;
}
.group.name {
  float: left;
  width: 100%;
}
.name .right-inner-addon {
  display: block;
  width: 49%;
}
.group {
  float: left;
  width: 100%;
}
.right-inner-addon .fa {
  color: #919191;
  left: 13px;
  position: absolute;
  top: 10px;
}
.right-inner-addon .fa:hover {
  color: #ff9800;
  transform: scale(1.2);
  transition: all 0.2s ease 0s;
  cursor:pointer;
}
.right-inner-addon {
  position: relative;
}
.crossbtn {
  background: #e35342 none repeat scroll 0 0;
  border-radius: 50%;
  color: #ffffff;
  float: left;
  font-size: 12px;
  font-weight: bold;
  height: 25px;
  line-height: 25px;
  padding: 0;
  position: absolute;
  top: 10px;
  width: 25px;
}
.form {
  overflow: hidden;
  position: relative;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin: 40px auto 0;
  padding: 0px 40px 40px 40px;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
	width:470px !important;
	margin-top:0px;
}
.myform hr {
  margin-top: 9px !important;
  margin-bottom: 0px !important;
  border: 0;
  border-top: 1px solid #eee !important;
  border-color: #333 !important;
}
.charcter {
  height: auto;
  margin-left: 10px;
  -webkit-transform: translate(0px, 36px);
   transform: translate(0px, 36px);
  -webkit-transition-delay: 0s;
   transition-delay: 0s;
  -webkit-transition-duration: 0.7s;
  transition-duration: 0.7s;
  transition-property: all;
  -webkit-transition-property: all;
  transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
  width: 60px;
}
.form.aniamted.bounceIn {
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top,  #ffffff 0%, #cdcdcd 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#cdcdcd)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ffffff 0%,#cdcdcd 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ffffff 0%,#cdcdcd 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ffffff 0%,#cdcdcd 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ffffff 0%,#cdcdcd 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cdcdcd',GradientType=0 ); /* IE6-9 */
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.charcter:hover {
  transform: translate(0px, 23px);
  -webkit-transform: translate(0px, 23px);
}
.charcter > img {
  width: 100%;
}
.myform {
    position: relative;
    max-width: 470px;
    margin: -25px auto 0;
    width: 100%;
}
.form .switch {
  color: #000000;
  cursor: pointer;
  float: left;
  font-size: 14px;
  line-height: 30px;
  text-align: left;
}
#getpas {
  color: #333;
  display: block;
  font-size: 13px;
  margin-bottom: 10px;
  margin-top: 8px;
  text-align: left;
}
.register .btn-primary{
  margin-bottom: 18px;
}
.displayit {
  color: #000000;
  display: inline-block !important;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 5px;
  margin-right: 0;
  text-align: left;
  padding-left: 2px;
}
.switch span{
  display: inline-block;
  margin-left: 5px;
  font-weight: 700;
}
.form .switch .tooltip {
  position: absolute;
  top: 5px;
  right: -65px;
  display: block;
  background: rgba(0, 0, 0, 0.6);
  width: auto;
  padding: 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 10px;
  font-weight: 600;
  line-height: 1;
  text-align: left;
  text-transform: uppercase;
}
.form .switch .tooltip:before {
  content: '';
  position: absolute;
  top: 5px;
  left: -5px;
  display: block;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid rgba(0, 0, 0, 0.6);
}
.form .register {
  display: block;
}
.form h2 {
  color: #333;
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
  margin: 0 0 20px;
}
.form .alert {
  position: relative;
  background: #f3f3f3;
  color: #666666;
  font-size: 12px;
  margin-bottom: 20px;
  padding: 15px;
  text-align: left;
}
.form input {
  display: block;
  width: 100%;
  margin: 0 0 20px;
  padding: 10px 38px !important;
  border: 2px solid #b1b1b1;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #333333;
  font-size: 14px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -ms-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
  background:transparent;
  outline: none !important;
  box-shadow: none !important;
  background-image: none !important;
}
.form-control:focus {
  padding-left: 15px !important;
}
.form input:focus {
  background: #fff;
  border: 2px solid #b1b1b1;
  color: #333;
}
.fa{
    transform:translate(0px);
    transition-delay: 0s;
    transition-duration: 0.2s;
    transition-property: all;
    transition-timing-function: ease;
	  opacity:1;	
}
.form input:focus ~ .fa{
    color: #e35342;
    cursor: pointer;
    transform:translate(100px);
    transition-delay: 0s;
    transition-duration: 0.2s;
    transition-property: all;
    transition-timing-function: ease;
	  opacity:0;
}
.form footer {
  border-radius: 0 0 3px 3px;
  color: #666666;
  float: left;
  font-size: 12px;
  margin: 0 0 -40px -40px;
  padding: 15px 40px;
  text-align: center;
  width: 100%;
}
.form footer a {
  color: #333333;
  text-decoration: none;
}
.info {
  width: 300px;
  margin: 25px auto;
  text-align: center;
}
button#Register_btn {
  margin-top: 10px !important;
}
.btn:hover, .btn:focus, .btn.focus {
  text-decoration: none !important;
  outline: none !important;
  color: #fff !important;
}
.info h1 {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: 400;
  color: #333333;
}
.info span {
  color: #666666;
  font-size: 12px;
}
.info span a {
  color: #000000;
  text-decoration: none;
}
.info span .fa {
  color: #33b5e5;
}
.info span .spoilers {
  color: #999999;
  margin-top: 5px;
  font-size: 10px;
}
label {
  color: #333;
  float: left;
  font-size: 13px;
  margin-left: 5px;
  text-align: left;
}

@media (max-width:767px){
  .right-inner-addon .fa {
      left: 11px;
  }
  .form input {
      padding: 5px 5px 6px 27px !important;
      font-size: 12px;
  }
  .loginbg {
    margin-bottom: -40px;
  }
  .name .right-inner-addon {
      width: 48%;
  }
  button#Register_btn {
      margin: 10px 0 !important;
  }

}
